<!DOCTYPE HTML>
<html>
<head>
    <title>My WebSocket</title>
</head>

<body>
Welcome<br/>
<input id="text" type="text"/>
<button onclick="send()">Send</button>
<button onclick="closeWebSocket()">Close</button>
<div id="message">
</div>
</body>

<#if shiro.hasPermission("sys:test:close")>
关闭
</#if>
<#if shiro.hasPermission("sys:test:open")>
<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        var url = getRealPath();
        url=url+"/socket";
        console.log(url);
        websocket = new WebSocket(url.replace("http", "ws"));
    } else {
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        console.log("websocket发生错误");
    };

    //连接成功建立的回调方法
    websocket.onopen = function (event) {
        console.log("连接成功！")
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        if (event.data.code === 0) {
            alert();
        } else {
            alert("错误！")
        }
    }


    //连接关闭的回调方法
    websocket.onclose = function () {
        console.log("关闭连接")
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        websocket.close();
    }


    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        websocket.send(message);
    }

    function getRealPath() {

        //获取当前网址，如： http://localhost:8083/myproj/view/my.jsp

        var curWwwPath = window.document.location.href;

        //获取主机地址之后的目录，如： myproj/view/my.jsp

        var pathName = window.document.location.pathname;

        var pos = curWwwPath.indexOf(pathName);

        //获取主机地址，如： http://localhost:8083

        var localhostPaht = curWwwPath.substring(0, pos);

        //获取带"/"的项目名，如：/myproj

        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);

        //得到了 http://localhost:8083/myproj

        var realPath = localhostPaht + projectName;

        return realPath;

    }
</script>
</#if>
</html>